<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cureinstant.cureinstant">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".misc.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyPreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DoctorProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".misc.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.FeedItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FollowActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyQueriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".misc.MyWidgetProvider"
            android:icon="@drawable/ic_logo"
            android:label="CureInstant Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <service android:name=".misc.UpdateService" />
    </application>

</manifest>